.map-wrapper {
  height: 553px;
  padding-bottom: 60px;
}

.contact-bottom {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.address-block {
  max-width: 670px;
  width: 100%;
  margin-left: auto;
  font-style: normal;
  text-align: right;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }

  @media screen and (max-width: 767px) {
    text-align: left;
  }
}
