<div class="archive-events">

  <div class="archive-events__top">
    <div class="archive-events__top-info">
      <span class="archive-events__title">
          АРХИВ <br> МЕРОПРИЯТИЙ
      </span>
    </div>
  </div>

  <ul class="archive-events__list">
    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>

    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>

    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>

    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>

    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>

    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>

    <li class="archive-events__item">
      <div class="event-item">
        <a href="">
          <img src="img/content/event-slide.jpg" alt="" class="event-item__img">
        </a>

        <time class="event-item__date">25.09.20</time>
        <a href="" class="event-item__text">Международный фестиваль фотографии PHOTOVISA-2020. </a>
      </div>
    </li>
  </ul>
</div>
