<section class="main-form">
  <div class="container">
    <div class="main-form__wrapper">
      <h2 class="main-form__title">ОБРАТНАЯ СВЯЗЬ</h2>
      <form action="form.php" method="post" class="main-form__form">
        <div class="input-wrapper main-form__field main-form__field_name">
          <input class="main-form__input" name="name" type="text" placeholder="Имя">
        </div>
        <div class="input-wrapper main-form__field main-form__field_phone">
          <input class="main-form__input" name="phone" type="tel" placeholder="Телефон" data-im-insert="true">
        </div>

        <div class="main-form__bottom">
          <div class="main-form__text">
            <p class="main-form__privacy">Нажимая на кнопку вы соглашаетесь с правилами обработки персональных данных</p>
          </div>
          <div class="main-form__btn-wrapper">
            <button type="submit" class="btn main-form__btn">отправить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
