<div class="main-slider">
  <div class="main-slider__container swiper-container">
    <div class="main-slider__wrapper swiper-wrapper">
      <div class="main-slider__slide swiper-slide">
        <div class="main-slider__content">
          <h3 class="main-slider__title">
            Винный бизнес-клуб
            «Деловой газеты.Юг» в Анапе
          </h3>
          <p class="main-slider__text">
            71-е заседание винного бизнес-клуба состоялось 28 сентября в Анапе. По-новому взглянуть на город-курорт участникам заседания помогла старший научный сотрудник Анапского археологического музея Надежда Карпенко.
          </p>
        </div>
<!--        <img src="img/content/slide.jpg" alt="">-->
        <div class="main-slider__img" style="background-image: url('img/content/slide.jpg')"></div>
      </div>
<!--      <div class="main-slider__slide swiper-slide">-->
<!--        <div class="main-slider__content">-->
<!--          <h3 class="main-slider__title">-->
<!--            Винный бизнес-клуб-->
<!--            «Деловой газеты.Юг» в Анапе-->
<!--          </h3>-->
<!--          <p class="main-slider__text">-->
<!--            71-е заседание винного бизнес-клуба состоялось 28 сентября в Анапе. По-новому взглянуть на город-курорт участникам заседания помогла старший научный сотрудник Анапского археологического музея Надежда Карпенко.-->
<!--          </p>-->
<!--        </div>-->
<!--        <img src="img/content/slide.jpg" alt="">-->
<!--      </div>-->
<!--      <div class="main-slider__slide swiper-slide">-->
<!--        <a href="" class="main-slider__content">-->
<!--          <h3 class="main-slider__title">-->
<!--            Винный бизнес-клуб-->
<!--            «Деловой газеты.Юг» в Анапе-->
<!--          </h3>-->
<!--          <p class="main-slider__text">-->
<!--            71-е заседание винного бизнес-клуба состоялось 28 сентября в Анапе. По-новому взглянуть на город-курорт участникам заседания помогла старший научный сотрудник Анапского археологического музея Надежда Карпенко.-->
<!--          </p>-->
<!--        </a>-->
<!--        <img src="img/content/slide.jpg" alt="">-->
<!--      </div>-->
    </div>
  </div>
  <button type="button" class="swiper-button-next main-slider__btn main-slider__next "></button>
  <button type="button" class="swiper-button-prev main-slider__btn main-slider__prev"></button>
</div>
